.SearchBar {
  padding: 0 20px;
  margin-right: 5px;
  line-height: 20px;
  height: 50px;
  flex-basis: 90%;
  border: 1px solid #98afc7;
  border-radius: 10px;
}

.SearchBar:focus {
  outline: none;
}

.SearchBar:hover {
  border-color: #6d7b8d;
}
