.Search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}

.SearchBar {
  padding: 0 20px;
  margin-right: 5px;
  line-height: 20px;
  height: 50px;
  flex-basis: 90%;
  border: 1px solid #98afc7;
  border-radius: 10px;
}

.SearchBar:focus {
  outline: none;
}

.SearchBar:hover {
  border-color: #6d7b8d;
}

.SearchButton {
  padding: 0;
  margin-left: 5px;
  height: 50px;
  flex-basis: 10%;
  background-color: #fff;
  border: 1px solid #98afc7;
  border-radius: 10px;
}

.SearchButton:focus {
  outline: none;
}

.SearchButton:hover {
  cursor: pointer;
  border-color: #6d7b8d;
}
